{% load static %}

<!doctype html>
<html lang="en">
    <head>
  	<title>Resources</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'thinkify/css/style.css' %}">

	</head>
	<body>


<nav class="navbar navbar-expand-lg  navbar navbar-dark bg-dark" >
			<div class="container">


				<div class="d-lg-none ms-auto me-4">
					<a href="#top" class="navbar-icon bi-person smoothscroll"></a>
				</div>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
{#                    <img src="{% static 'thinkify/images/LOGO.png' %}" width="60px" height="40px" id=logo alt="Logo image" style="margin-left: 10px;" />#}
					<ul class="navbar-nav ms-lg-5 me-lg-auto">
						<li class="nav-item">
							<a class="nav-link click-scroll" href="#section_1">Home</a>
						</li>

						<li class="nav-item">
							<a class="nav-link click-scroll" href="#section_2">About</a>
						</li>

						<li class="nav-item">
							<a class="nav-link click-scroll" href="#section_3">FAQs</a>
						</li>


					</ul>

					<div class="d-none d-lg-block">
						<a href="#top" class="navbar-icon bi-person smoothscroll"></a>
					</div>
				</div>
			</div>
		</nav>

<tbody>
<form action="" method="POST"></form>
        {% for exam in exam_list %}
            <tr>
            <td>{{ exam.domain }}</td>
            <td>{{ exam.examname}}</td>
            <td>{{ exam.link }}</td>
            <td>{{ exam.eligibility }}</td>
            <td>{{ exam.exam_date }}</td>
            </tr>
        {% endfor %}
</tbody>
</body>