{% load static %}

<!doctype html>
<html lang="en">
    <head>
  	<title>Resources</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'thinkify/css/style.css' %}">

	</head>
	<body>
		
<!--		<nav class="navbar navbar-expand-lg">
			<div class="container">
				

				<div class="d-lg-none ms-auto me-4">
					<a href="#top" class="navbar-icon bi-person smoothscroll"></a>
				</div>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-lg-5 me-lg-auto">
						<li class="nav-item">
							<a class="nav-link click-scroll" href="#section_1">Home</a>
						</li>

						<li class="nav-item">
							<a class="nav-link click-scroll" href="#section_2">About</a>
						</li>

						<li class="nav-item">
							<a class="nav-link click-scroll" href="#section_3">FAQs</a>
						</li>


					</ul>

					<div class="d-none d-lg-block">
						<a href="#top" class="navbar-icon bi-person smoothscroll"></a>
					</div>
				</div>
			</div>
		</nav>
	-->
{#	<nav class="navbar navbar-expand-lg navbar-light bg-dark">#}
{#		<a class="navbar-brand" href="#">THINKIFY</a>#}
{#		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
{#		  <span class="navbar-toggler-icon"></span>#}
{#		</button>#}
{#		<div class="collapse navbar-collapse" id="navbarNav">#}
{#              <ul class="navbar-nav">#}
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">About</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">FAQs</a>#}
{#                    </li>#}
{#              </ul>#}
{#		</div>#}
{#	  </nav>		#}

<nav class="navbar navbar-expand-lg  navbar navbar-dark bg-dark" >
			<div class="container">


				<div class="d-lg-none ms-auto me-4">
					<a href="#top" class="navbar-icon bi-person smoothscroll"></a>
				</div>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
{#                    <img src="{% static 'thinkify/images/LOGO.png' %}" width="60px" height="40px" id=logo alt="Logo image" style="margin-left: 10px;" />#}
					<ul class="navbar-nav ms-lg-5 me-lg-auto">
						<li class="nav-item">
							<a class="nav-link click-scroll" href="{% url 'thinkify:homeNext' %}">Home</a>
						</li>

						<li class="nav-item">
							<a class="nav-link click-scroll" href="#section_2">About</a>
						</li>

						<li class="nav-item">
							<a class="nav-link click-scroll" href="#section_3">FAQs</a>
						</li>


					</ul>

					<div class="d-none d-lg-block">
						<a href="#top" class="navbar-icon bi-person smoothscroll"></a>
					</div>
				</div>
			</div>
		</nav>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">RESOURCES</h2>
				</div>
			</div>

			

{#			<form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">#}
{#				<div class="input-group input-group-lg">#}
{#					<span class="input-group-text bi-search" id="basic-addon1">#}
{#						#}
{#					</span>#}
{#                #}
{#					<input name="keyword" type="search" class="form-control" id="keyword" placeholder="Search for schloarships" aria-label="Search">#}
{##}
{#					<button type="submit" class="form-control">Search</button><br>#}
{#					#}
{#				#}
{#				#}
{#				</div>#}
{#			</form>#}
			<p> <br></p>

			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						    <thead class="thead-primary">
						    <tr>
						      <th>S.NO</th>
						      <th>EXAM NAME</th>
						      <th>RESOURCES LINK</th>
						    </tr>
						    </thead>
						    <tbody>
						        <tr>
						      <th scope="row">1</th>
						      <td>Kishore
								Vaigyanik
								Protsanan
								Yojna
								</td>
						      <td><a href="http://www.kvpy.iisc.ernet.in/main/index.htm">www.kvpy.iisc.ernet.in</a></td>
						    </tr>
						    <tr>
								<th scope="row">2</th>
								<td>National Standard Examination (NSE)
									https://www.iapt.org.in/exams/nse/papers-solutions.html
								</td>
								<td><a href="https://www.iapt.org.in/exams/nse/papers-solutions.html">https://www.iapt.org.in/exams/nse/papers-solutions.html</a></td>
						    </tr>
								<th scope="row">3</th>
								<td>Join
									Entrance
									Examination
									</td>
								<td><a href="https://jeeadv.ac.in/archive.html">https://jeeadv.ac.in/archive.html</a></td>
						    <tr>


						    </tr>
						    <tr>
								<th scope="row">4</th>
								<td>Tamil Nadu Public Service Commission</td>
								<td><a href="https://www.tnpsc.gov.in/english/previous-questions.html">https://www.tnpsc.gov.in/english/previous-questions.html</a></td>
						    </tr>

						    <tr>
								<th scope="row">5</th>
								<td>Union Public Service
									Commission</td>
								<td><a href="https://upsc.gov.in/examinations/previous-question-papers">https://upsc.gov.in/examinations/previous-question-papers</a></td>
						    </tr>

							<tr>
								<th scope="row">6</th>
								<td>Certified Management
									Accountant(CMA))
									</td>
								<td><a href="https://icmai.in/studentswebsite/mtp2012_j14_set1.php">https://icmai.in/studentswebsite/mtp2012_j14_set1.php/</a></td>
						    </tr>

							<tr>
								<th scope="row">7</th>

								<td>International English Language Testing System(IELTS)</td>
								<td><a href="https://takeielts.britishcouncil.org/prepare-your-test/free-ielts-practice-tests/listening-practice-test-1">•	https://takeielts.britishcouncil.org/prepare-your-test/free-ielts-practice-tests/listening-practice-test-1</a></td>
						    </tr>

							<tr>
								<th scope="row">8</th>
								<td>Common Law Admission Test(CLAT)</td>
								<td><a href=" https://www.careerindia.com/entrance-exam/clat-question-papers-e29.html"> https://www.careerindia.com/entrance-exam/clat-question-papers-e29.html</a></td>
						    </tr>

							<tr>
								<th scope="row">9</th>
								<td>Chartered Accountant(CA)</td>
								<td><a href="https://upsc.gov.in/examinations/answer-key?field_exam_name_value=UPSC">https://upsc.gov.in/examinations/answer-key?field_exam_name_value=UPSC</a></td>
						    </tr>
						    </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'thinkify/js/jquery.min.js' %}"></script>
  <script src="{% static 'thinkify/js/popper.js' %}"></script>
  <script src="{% static 'thinkify/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'thinkify/js/main.js' %}"></script>

	</body>
</html>

<!--
{#						      {% for resource in resources %}#}
{#                                    <tr>#}
{#                                    <td>{{ resource.Exam_name }}</td>#}
{#                                    <td>{{ resource.link  }}</td>#}
{##}
{#                                    </tr>#}
{#                                {% endfor %}#}



-->